#navbar {
  display: flex;
  gap: 5ch;
  align-items: center;
  margin-right: 5%;
  font-size: 16pt;
  justify-content: space-between;
}
html {
  font-family: arial;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

#gamereview {
  border: 2px solid black;
  margin-left: 30%;
  display: inline-block;
}

#game-description {
  border: 5px solid black;
  padding: 5%;
  background-color: black;
  color: white;
}
.reviewTop {
  display: flex;
}
.reviewcreator {
  margin-left: 30%;
  margin-bottom: 10%;
}
.reviewcreate-title {
  font-size: 15pt;
  width: 19vw;
}
.reviewcreate-review {
  font-size: 10pt;
  width: 30vw;
  height: 20vh;
  font-family: arial;
}
.reviewcreate-rating {
  font-size: 10pt;
}

.review-title {
  text-decoration: underline;
}
.submit-button {
  padding: 2% 21%;
}
.game-sections {
  font-size: 20pt;
}
#logo {
  width: 20vw;
  margin: auto;
  margin-left: 0;
}

#mySearch {
  font-size: 20pt;
}
#searchbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-item {
  display: flex;
  gap: 2ch;
}
.guestpfp {
  width: 3vw;
  height: 3%;
  margin-top: 2%;
  margin-right: 2%;
}
